#home 
	body {
	background-color: lightblue;
	font-size: 20px;
	margin: 20px, 15px, 20px, 15px;
	padding: 12px, 8px, 12px, 8px;
	}
@font-face {
	font-family: MaterialIcons;
	src: url(MaterialIcons-Regular.ttf);
}


